/* @import url("../css/styles.css");  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* //flex-direction: column;
    // display: flex;
    // overflow: hidden;
} */
} 
html,
body {
    height: 100%;
 
   
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}
a {
    text-decoration: none;
    color: white;
}

button{
    position: relative;
    width: 220px;
    height: 50px;
    border-radius: 40px;
    background-color:rgb(120, 74, 212);
    color: #fff;
    font-weight: 500;
float: left ;
margin-left: 20px;
top: 30px;
/* padding-bottom: 40px; */
padding: 15px;
display: flex;
justify-content: space-evenly;

}

.navbar {
    /* background-color: rgba(0, 0, 0, 0.324); */
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 99;
    display: flex;
     height: 7em; 
    padding-right: 6em;
    padding-left: 6em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.356);
    color: #fff;
    }

    .logo {
        position: relative;
        float: left;
    }

    .nav
    {
        
        position: relative;
        float: left;
       margin-left: 20px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;

    }

    .home {
        margin-left: 20px;
    }

    .courses {
        margin-left: 20px;
    }
    .workshops {
        margin-left: 20px;
    }
    .blog {
        margin-left: 20px;
    }
    .students {
        width: 140px;
        margin-left: 20px;
        word-wrap: none;
    }

@media screen and (max-width: 991px) {
    .navbar {
        padding-right: 5em;
        padding-left:5em;
        font-size: smaller;

    background-color: rgba(0, 0, 0, 0);
    }

 .logo {
       display: hidden;
    } 

    .hero_text {
        height: fit-content;
        width: 200px;
        display: cover;
    }
}

#header {
    position: relative;

display: inline-block;
width: 100%; 
height: 100%;
/* padding-top: 10em;
padding-bottom: 7em;
-webkit-box-align: end;
-webkit-align-items: flex-end;
-ms-flex-align: end;
align-items: flex-end; */

}

.hero_image {
position: relative; 
bottom: 10px;
width: 100%;
height: 800px;
float: center;
background-color:rgb(0, 0, 0);
display: block;
/* display: co  
flo                                                                                                                         ; */

padding: 80px;
padding-left: 130px;
}


.hero_video {
    /* position: relative; */
    bottom: 800px;
    width: 90%;
    display: inline-block;
    /* display: co                                                                                                                           ; */
     border-radius: 25px;
        padding-left: 30px;
    }
  
    @media  all and (max-width: 100px) { 
        .hero_video {
            height: 40%;  
            width: 60%;
            
        }
    }
.hero_text {
    position: relative;
    width: 400px;
    height: 300px;
    float:left;
    display: flex;
    bottom: 200px;
}
.row {
    
    height: 600px;
   
    /*display: flex;
    width: 100%; */
    /* flex-direction: row; */
    align-items: center;
padding: 30px;
    justify-content: space-evenly;
}
.row_two {
    
    height: 600px;
   overflow: wrap;
    overflow-y: scroll;
    /*display: flex;
    width: 100%; */
    /* flex-direction: row; */
    align-items: center;
padding: 30px;
    justify-content: space-evenly;
}

.success_image {
   margin-left: 300px;
   float: left;
   position: relative;
   width: 100%;
    /* background-color: aqua; */
}

#people {
    border-radius: 40px;
    float: center;
}

#training-levels {
    height: 1599px;
    width: fit-content;
    /* background-color: rgb(226, 228, 233); */
    padding-top: 40px;
    padding-right: 40px;
}
/* .training-levels {
    height: 1230px;
    width: 100%;
    background-color: rgb(226, 228, 233);
    padding-top: 40px;
    padding-right: 40px;
} */


.photo {
    
    margin-bottom: 16px;
    overflow: hidden;
    margin-top: 16px;
    width: 100%;
    background-color: rgb(18, 11, 24); 
}

.photo img{
    /* background-color: blue; */
    width: 300px;
    height: 200px; 

/* border-radius: 25px; */
/* object-fit: cover; */
}

.photo_two{
    
    padding-bottom: 16px;
        
    padding-top: 16px;

    /* display: inline flex; */
    margin-top: 16px;
    margin-bottom: 40px;
   padding: 30px;
    background-color: rgb(18, 11, 24); 
}
.photo_two img{
    /* background-color: blue; */
    width: 300px;
    height: 200px; 
 margin-left: 40px;
border-radius: 25px;
 margin-left: 20px;
 padding-bottom: 16px;
float: center;


/* object-fit: cover; */
}
/* 
// makes the content above responsive */
@media  all and (max-width: 1000px) { 
    .row {
          
        
        flex-direction: column;
    }

    .photo {
        margin-top:20px;
    }
    #people {
        border-radius: 40px;
        position: relative;
        padding: 30px;
        margin: 0 auto;
       right:230px; 
        width: fit-content;
        /* height: fit-content; */
    }   
}



@media  all and (max-width: 1000px) { 

}

.success {
    border-radius: 25px;
}

.content {
    width: fit-content;
    margin-left : 100px;
}

.content_one {
    position: relative;
    width: 500px;
    padding: 30px;
    /* margin-left : 40px; */
 font-weight: 300;
 font-size: 30px;
 bottom: 240px;
color: whitesmoke;
}
.content_contact {
    width: 100%;
    margin-left : 100px;

}

#contact_submit {
    width: 100%;
    margin-left : 300px;

}

.design_main {
position: relative;
float: right;
height: 500px;
width: 300px;
background-color: cornflowerblue;
border-radius: 40px;
padding: 40px;
margin: 40px;

}
.twoD_main {
    position: relative;
    float: right;
    height: 500px;
    width: 300px;
background-color: cornflowerblue;
border-radius: 40px;
padding: 40px;
margin: 40px;
    
    }
.threeD_main {
        position: relative;
        float: right;
               height: 500px;
        width: 300px;
        padding: 40px;
        background-color: cornflowerblue;
        border-radius: 40px;
border-radius: 40px;
margin: 40px;
    
        }
    
        @media  all and (min-width: 200px) { 
   

            #training-levels {
                position: relative;
                height: fit-content;
                width: fit-content;
                justify-content: flex-end;
                /* background-color: rgb(226, 228, 233); */
                padding-top: 40px;
                padding-right: 40px;
            }
        }

        @media  all and (max-width: 1000px) { 
   

    
            .design_main {
                position: relative;
                float: right;
                height: 400px;
                width: 80%;
                /* background-color: cornflowerblue; */
                border-radius: 40px;
                padding: 40px;
                margin: 40px;
                
                }
                .twoD_main {
                    position: relative;
                    float: right;
                    height: 400px;
                    width: 80%;
                /* background-color: cornflowerblue; */
                border-radius: 40px;
                padding: 40px;
                margin: 40px;
                    
                    }
                .threeD_main {
                        position: relative;
                        float: right;
                        width: 400px;
                        width: 80%;
                        padding: 40px;
                        /*   */
                        border-radius: 40px;
                border-radius: 40px;
                margin: 40px;
                        
                        }
        
            
        }
        

fieldset {
    margin-top: 100px;
  top: 60px;
  width:100%;
    padding: 40px;
    height: 500px;
    
    margin: 0 auto;
/* background-color: rgb(181, 182, 185); */

}
.email {
    padding-top: 20px;
}

#email {
    width: 400px;
    height: 50px;
padding: 20px;
   border-radius: 40px;
   margin-bottom: 40px;
}

.butt {
    margin-top: 60px;
    float: left;
    position: relative;
    bottom: 80px;

    /* padding: 40px;
} */
}

#footer {
    top: auto;
    z-index: 99;
    display: inline-block;
    height: 200px;
 width: 100%;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    color: white;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}
.socials {
    height: 100px;
    width: 200px;
    border-color: rgb(253, 253, 253);
    border-radius: 40px;
    position: relative;
    padding: 40px;
    float: left;
    padding-bottom: 20px;
}
.footer-bottom {
    /* width: 20px; */
    display: flex;
}